html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/*header*/


header {
  position: fixed;
  z-index: 1;
  color: white;
  background-color: black;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;

}

#logo{
  margin-left: 10px;
  align-self: center;
  height: 50px;
}

header a {
  color: white;
  padding: 20px;
}

nav {
  margin-left: auto;
}

/* landing */

.landing {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-position: center;
  height: 700px;
  width: 1200px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
  background-color: black;
}
.mission {
  background-color: black;
}

.mission h2 {
  background-color: black;



}

.mission h4 {
  width: 1200px;
  text-align: center;
  align-self: center;
  background-color: black;

}

/* Menu */

.main {
  margin: 60px;
}

.tea {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 10px auto;
  padding: 10px;
}

.type {
  height: 200px;
  width: 300px;
  margin: 10px;
}


/* location */

.end {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    height: 500px;
    width:1200px;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;

}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.loc {
  background-color: black;
  margin: 40px;
  padding: 20px;
  width: 300px;
  opacity:
}
